#example1 {
    background-image: url('img/base_one_bg.png');
    background-size: cover;
    --wheelsize: 80%;
    --knobsize: 25%;
}

#example1 .knob {
    background: url('img/base_one_knob.png');
    background-size: cover;
}

#example1_progress {
    --bs-progress-bar-transition: none;
}