#example1 {
    background-image: url('img/base_one_bg.png');
    background-size: cover;
    --wheelsize: 80%;
    --knobsize: 25%;
}

#example1 .knob {
    background: url('img/base_one_knob.png');
    background-size: cover;
}

#example1_progress {
    --bs-progress-bar-transition: none;
}

#example5 .wheel{
    border:2px dashed #000;
    border-radius: 50%;
}

#example5 .knob::before{
    content:"☝️";
    position: absolute;
    left:50%;
    top:50%;
    font-size:50px;
    width: 100%;
    height: 0;
    line-height: 0;
    z-index:100000;
    text-align: center;
    transform: translate(-50%, -50%) rotate(var(--jd-angle, 0deg));
}

#example6::before {
    content:attr(data-jd-angle) '° / ' attr(data-jd-percent);
    position:absolute;
    transform: translate(-50%, -50%);
    left:50%;
    top:50%;
    z-index:128;
}


/* styling examples */

.hover-examples{
    --wheel-hover-outline:1px dashed #000;
    --knob-hover-outline:1px dashed #000;
    --wheel-pressed-outline:3px dashed #000;
    --knob-pressed-outline:3px dashed #000;
}

.hover-examples .jogdial::after{
    content:'fig. ' attr(data-index);
    font-style: italic;
    position:absolute;
    transform: translate(-50%, -50%);
    font-family: serif;
    left:50%;
    top:50%;
    z-index:1;
}


#example7 .knob:hover{
    outline:var(--knob-hover-outline);
}

#example7 .wheel:hover{
    outline:var(--wheel-hover-outline);
}

#example7[data-jd-pressed] .knob:hover{
    outline:var(--knob-pressed-outline);
}

#example8:hover .wheel{
    outline:var(--wheel-hover-outline);
}

#example8:hover .knob{
    outline:var(--knob-hover-outline);
}

#example8[data-jd-pressed] .knob{
    outline:var(--knob-pressed-outline);
}

#example8[data-jd-pressed] .wheel{
    outline:var(--wheel-pressed-outline);
}


#example9:hover .wheel{
    outline:var(--wheel-hover-outline);
}

#example9:hover .knob{
    outline:var(--knob-hover-outline);
}

#example9[data-jd-pressed] .knob{
    outline:var(--knob-pressed-outline);
}

#example9[data-jd-pressed] .wheel{
    outline:var(--wheel-pressed-outline);
}

#example10:hover .knob{
    outline:var(--knob-hover-outline);
}

#example10[data-jd-pressed] .knob{
    outline:var(--knob-pressed-outline);
}