.inline {
    display: inline-block;
}

#dials {
    height: 320px;
    overflow: hidden;
}

.dial {
    display: block;
    position: relative;
    height: 320px;
}

.dial.hidden {
    display: none;
}

#example1 {
    position: relative;
    width: 100%;
    height: 100%;
    xmargin: 20px auto;
    background: url('img/base_one_bg.png?1392325180');
    background-repeat: no-repeat;
}

#example1 .knob {
    background: url('img/base_one_knob.png?1392325228');
    background-size: cover;
}

#example1_progress{
    --bs-progress-bar-transition: none;
}

#jog_dial_two {
    width: 260px;
    height: 260px;
    margin: 20px auto 0;
}

#jog_dial_two_meter {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    font-size: 1.2em;
}

.code_block {
    padding: 10px 10px;
    background: #eee;
    border-radius: 5px;
}

