.jogdial {
    position: relative !important;
    width: 100%;
    height: 100%;
    --wheelsize: 100%;
    --knobsize: 30%;
    --zindex: 64;
}

.jogdial .foreground{
    position: absolute;
    left: 0;
    top: 0;
    --size: var(--wheelsize);
    width: var(--size);
    height: var(--size);
    z-index: calc(var(--zindex) * 2);
}

.jogdial .wheel {
    position: absolute;
    left: 0;
    top: 0;
    --size: var(--wheelsize);
    width: var(--size);
    height: var(--size);
    z-index: var(--zindex);
}

.jogdial .knob {
    position: absolute;
    left: 0;
    top: 0;
    z-index: var(--zindex);
    --size: var(--knobsize);
    width: var(--size);
    height: var(--size);
}

.jogdial[data-jd-debug] .knob {
    background-color: rgba(0,0,255,0.4);
    border-radius: 50%;
}

.jogdial[data-jd-debug] .wheel {
    border-radius: 50%;
    background-color: rgba(0,255,0,0.4);
}